@use 'title';
@use 'nav';

$ColorFondo: #294fa7;
$ColorLetra: white;
$Roboto: "Roboto", sans-serif;

#wrapper{
    background-color: $ColorFondo;
    margin-left: 2.5%;
    width: 95%;
    border-radius: 5%;
}
body{
    font-family: $Roboto;
}